

<h4>Create a post</h4>

<%= render 'form' %>


<%
=begin
%>

<h5>Pure HTML form</h5>
<form action='/posts' method='POST'>
  Title: <input type='text' name="my_title">
  <br />
  <input type='submit' class='btn btn-primary'>
</form>


<h4>Rails form helpers</h4>
<%= form_tag '/posts' do %>
  <%= label_tag :title, "Input a title" %>
  <%= text_field_tag :title %>
  <br>
  <%= label_tag :whatever %>
  <%= text_field_tag :whatever %><br/>
  <%= submit_tag "Create Post", class: "btn btn-primary" %>
<% end %>

<%
=end
%>
